-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: evaluasi_kurikulum
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bahan_kajian`
--

DROP TABLE IF EXISTS `bahan_kajian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bahan_kajian` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode` varchar(20) NOT NULL,
  `nama_id` varchar(150) NOT NULL,
  `nama_en` varchar(150) DEFAULT NULL,
  `kategori_kompetensi_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode` (`kode`),
  KEY `kategori_kompetensi_id` (`kategori_kompetensi_id`),
  CONSTRAINT `bahan_kajian_ibfk_1` FOREIGN KEY (`kategori_kompetensi_id`) REFERENCES `kategori_kompetensi` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bahan_kajian`
--

LOCK TABLES `bahan_kajian` WRITE;
/*!40000 ALTER TABLE `bahan_kajian` DISABLE KEYS */;
/*!40000 ALTER TABLE `bahan_kajian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jawaban`
--

DROP TABLE IF EXISTS `jawaban`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jawaban` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pengisian_id` int(11) NOT NULL,
  `pertanyaan_id` int(11) NOT NULL,
  `mata_kuliah_id` int(11) DEFAULT NULL,
  `nilai_skala` tinyint(4) DEFAULT NULL,
  `opsi_id` int(11) DEFAULT NULL,
  `teks` text DEFAULT NULL,
  `alasan` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pengisian_id` (`pengisian_id`),
  KEY `pertanyaan_id` (`pertanyaan_id`),
  KEY `mata_kuliah_id` (`mata_kuliah_id`),
  KEY `opsi_id` (`opsi_id`),
  CONSTRAINT `jawaban_ibfk_1` FOREIGN KEY (`pengisian_id`) REFERENCES `pengisian` (`id`),
  CONSTRAINT `jawaban_ibfk_2` FOREIGN KEY (`pertanyaan_id`) REFERENCES `pertanyaan` (`id`),
  CONSTRAINT `jawaban_ibfk_3` FOREIGN KEY (`mata_kuliah_id`) REFERENCES `mata_kuliah` (`id`),
  CONSTRAINT `jawaban_ibfk_4` FOREIGN KEY (`opsi_id`) REFERENCES `opsi_pertanyaan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=593 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jawaban`
--

LOCK TABLES `jawaban` WRITE;
/*!40000 ALTER TABLE `jawaban` DISABLE KEYS */;
/*!40000 ALTER TABLE `jawaban` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jawaban_multi`
--

DROP TABLE IF EXISTS `jawaban_multi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jawaban_multi` (
  `jawaban_id` int(11) NOT NULL,
  `opsi_id` int(11) NOT NULL,
  PRIMARY KEY (`jawaban_id`,`opsi_id`),
  KEY `opsi_id` (`opsi_id`),
  CONSTRAINT `jawaban_multi_ibfk_1` FOREIGN KEY (`jawaban_id`) REFERENCES `jawaban` (`id`) ON DELETE CASCADE,
  CONSTRAINT `jawaban_multi_ibfk_2` FOREIGN KEY (`opsi_id`) REFERENCES `opsi_pertanyaan` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jawaban_multi`
--

LOCK TABLES `jawaban_multi` WRITE;
/*!40000 ALTER TABLE `jawaban_multi` DISABLE KEYS */;
INSERT INTO `jawaban_multi` VALUES (23,38),(46,37),(69,35),(69,38),(89,53),(109,49),(109,51),(128,45),(128,46),(487,38),(510,37),(533,35),(533,38),(553,53),(573,49),(573,51),(592,45),(592,46);
/*!40000 ALTER TABLE `jawaban_multi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kategori_kompetensi`
--

DROP TABLE IF EXISTS `kategori_kompetensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kategori_kompetensi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `aktif` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategori_kompetensi`
--

LOCK TABLES `kategori_kompetensi` WRITE;
/*!40000 ALTER TABLE `kategori_kompetensi` DISABLE KEYS */;
/*!40000 ALTER TABLE `kategori_kompetensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_impor`
--

DROP TABLE IF EXISTS `log_impor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `log_impor` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `admin_id` int(11) NOT NULL,
  `nama_berkas` varchar(255) NOT NULL,
  `jumlah_berhasil` int(11) DEFAULT 0,
  `jumlah_gagal` int(11) DEFAULT 0,
  `ringkasan_galat` text DEFAULT NULL,
  `waktu` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `admin_id` (`admin_id`),
  CONSTRAINT `log_impor_ibfk_1` FOREIGN KEY (`admin_id`) REFERENCES `pengguna` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_impor`
--

LOCK TABLES `log_impor` WRITE;
/*!40000 ALTER TABLE `log_impor` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_impor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mata_kuliah`
--

DROP TABLE IF EXISTS `mata_kuliah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mata_kuliah` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode` varchar(20) NOT NULL,
  `nama` varchar(150) NOT NULL,
  `deskripsi_singkat` text DEFAULT NULL,
  `semester` int(11) DEFAULT NULL,
  `sks` int(11) NOT NULL,
  `jenis` enum('wajib','pilihan') DEFAULT 'wajib',
  `kelompok` enum('universitas','fakultas','prodi') DEFAULT 'prodi',
  `kurikulum` varchar(10) DEFAULT '2024',
  `aktif` tinyint(1) DEFAULT 1,
  `dibuat_pada` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode` (`kode`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mata_kuliah`
--

LOCK TABLES `mata_kuliah` WRITE;
/*!40000 ALTER TABLE `mata_kuliah` DISABLE KEYS */;
/*!40000 ALTER TABLE `mata_kuliah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mata_kuliah_bk`
--

DROP TABLE IF EXISTS `mata_kuliah_bk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mata_kuliah_bk` (
  `mata_kuliah_id` int(11) NOT NULL,
  `bahan_kajian_id` int(11) NOT NULL,
  `utama` tinyint(4) DEFAULT 0,
  PRIMARY KEY (`mata_kuliah_id`,`bahan_kajian_id`),
  KEY `bahan_kajian_id` (`bahan_kajian_id`),
  CONSTRAINT `mata_kuliah_bk_ibfk_1` FOREIGN KEY (`mata_kuliah_id`) REFERENCES `mata_kuliah` (`id`) ON DELETE CASCADE,
  CONSTRAINT `mata_kuliah_bk_ibfk_2` FOREIGN KEY (`bahan_kajian_id`) REFERENCES `bahan_kajian` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mata_kuliah_bk`
--

LOCK TABLES `mata_kuliah_bk` WRITE;
/*!40000 ALTER TABLE `mata_kuliah_bk` DISABLE KEYS */;
INSERT INTO `mata_kuliah_bk` VALUES (1,1,0),(2,14,0),(3,2,0),(4,11,0),(5,7,0),(6,10,0),(7,5,0),(8,7,0),(9,10,0),(10,2,0),(11,5,0),(12,6,0),(13,9,0),(14,11,0),(15,10,0),(16,13,0),(17,13,0),(18,5,0),(19,6,0),(20,15,0),(21,4,0),(22,6,0),(23,6,0),(24,8,0),(25,12,0),(26,6,0),(27,9,0),(28,7,0),(29,10,0),(30,6,0),(31,5,0),(32,6,0),(33,10,0),(34,15,0),(35,3,1),(35,8,0),(36,9,0),(37,2,0),(38,9,0),(39,5,0),(40,4,0),(41,10,0),(42,15,0),(43,10,0),(44,10,0),(45,2,0),(46,7,0),(47,9,0);
/*!40000 ALTER TABLE `mata_kuliah_bk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opsi_pertanyaan`
--

DROP TABLE IF EXISTS `opsi_pertanyaan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `opsi_pertanyaan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pertanyaan_id` int(11) NOT NULL,
  `teks_opsi` varchar(255) NOT NULL,
  `kategori_kompetensi_id` int(11) DEFAULT NULL,
  `urutan` int(11) DEFAULT 0,
  `aktif` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `pertanyaan_id` (`pertanyaan_id`),
  KEY `kategori_kompetensi_id` (`kategori_kompetensi_id`),
  CONSTRAINT `opsi_pertanyaan_ibfk_1` FOREIGN KEY (`pertanyaan_id`) REFERENCES `pertanyaan` (`id`),
  CONSTRAINT `opsi_pertanyaan_ibfk_2` FOREIGN KEY (`kategori_kompetensi_id`) REFERENCES `kategori_kompetensi` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opsi_pertanyaan`
--

LOCK TABLES `opsi_pertanyaan` WRITE;
/*!40000 ALTER TABLE `opsi_pertanyaan` DISABLE KEYS */;
/*!40000 ALTER TABLE `opsi_pertanyaan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengguna`
--

DROP TABLE IF EXISTS `pengguna`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengguna` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `peran` enum('admin','mahasiswa','alumni','perusahaan','dosen') NOT NULL,
  `wajib_ganti_sandi` tinyint(1) DEFAULT 1,
  `aktif` tinyint(1) DEFAULT 1,
  `dibuat_pada` timestamp NOT NULL DEFAULT current_timestamp(),
  `reset_token` varchar(255) DEFAULT NULL,
  `reset_token_expired` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengguna`
--

LOCK TABLES `pengguna` WRITE;
/*!40000 ALTER TABLE `pengguna` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengguna` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengisian`
--

DROP TABLE IF EXISTS `pengisian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengisian` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pengguna_id` int(11) NOT NULL,
  `periode_id` int(11) NOT NULL,
  `status` enum('draft','final') DEFAULT 'draft',
  `tab_terakhir` int(11) DEFAULT 1,
  `terakhir_disimpan` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `waktu_submit` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pengguna_id` (`pengguna_id`,`periode_id`),
  KEY `periode_id` (`periode_id`),
  CONSTRAINT `pengisian_ibfk_1` FOREIGN KEY (`pengguna_id`) REFERENCES `pengguna` (`id`),
  CONSTRAINT `pengisian_ibfk_2` FOREIGN KEY (`periode_id`) REFERENCES `periode_evaluasi` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengisian`
--

LOCK TABLES `pengisian` WRITE;
/*!40000 ALTER TABLE `pengisian` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengisian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengisian_matkul`
--

DROP TABLE IF EXISTS `pengisian_matkul`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengisian_matkul` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pengisian_id` int(11) NOT NULL,
  `mata_kuliah_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pengisian_id` (`pengisian_id`,`mata_kuliah_id`),
  KEY `mata_kuliah_id` (`mata_kuliah_id`),
  CONSTRAINT `pengisian_matkul_ibfk_1` FOREIGN KEY (`pengisian_id`) REFERENCES `pengisian` (`id`),
  CONSTRAINT `pengisian_matkul_ibfk_2` FOREIGN KEY (`mata_kuliah_id`) REFERENCES `mata_kuliah` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=91 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengisian_matkul`
--

LOCK TABLES `pengisian_matkul` WRITE;
/*!40000 ALTER TABLE `pengisian_matkul` DISABLE KEYS */;
INSERT INTO `pengisian_matkul` VALUES (1,1,10),(2,1,27),(3,1,34),(4,2,2),(5,2,45),(6,2,47),(7,3,3),(8,3,18),(9,3,35),(10,4,37),(11,4,42),(12,4,47),(13,5,3),(14,5,17),(15,5,32),(16,6,2),(17,6,38),(18,6,41),(73,25,10),(74,25,27),(75,25,34),(76,26,2),(77,26,45),(78,26,47),(79,27,3),(80,27,18),(81,27,35),(82,28,37),(83,28,42),(84,28,47),(85,29,3),(86,29,17),(87,29,32),(88,30,2),(89,30,38),(90,30,41);
/*!40000 ALTER TABLE `pengisian_matkul` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `periode_evaluasi`
--

DROP TABLE IF EXISTS `periode_evaluasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `periode_evaluasi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tahun_akademik` varchar(20) NOT NULL,
  `status` enum('draft','buka','tutup') DEFAULT 'draft',
  `dibuat_pada` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `periode_evaluasi`
--

LOCK TABLES `periode_evaluasi` WRITE;
/*!40000 ALTER TABLE `periode_evaluasi` DISABLE KEYS */;
INSERT INTO `periode_evaluasi` VALUES (1,'2024/2025 Genap','tutup','2026-10-04 09:49:06'),(2,'2025/2026 Ganjil','buka','2026-10-04 09:49:06');
/*!40000 ALTER TABLE `periode_evaluasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pertanyaan`
--

DROP TABLE IF EXISTS `pertanyaan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pertanyaan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode` varchar(10) DEFAULT NULL,
  `teks` text NOT NULL,
  `bantuan` text DEFAULT NULL,
  `tipe` enum('pilihan_ganda','skala','teks','pilihan_ganda_banyak') NOT NULL,
  `bagian` enum('matkul','kompetensi') NOT NULL,
  `peran_sasaran` enum('mahasiswa','alumni','perusahaan','dosen','semua') NOT NULL,
  `kategori_kompetensi_id` int(11) DEFAULT NULL,
  `wajib` tinyint(1) DEFAULT 1,
  `label_skala` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`label_skala`)),
  `syarat_tampil` varchar(255) DEFAULT NULL,
  `penanda` varchar(255) DEFAULT NULL,
  `maks_pilihan` int(11) DEFAULT NULL,
  `urutan` int(11) DEFAULT 0,
  `aktif` tinyint(1) DEFAULT 1,
  `default_aktif` tinyint(1) DEFAULT 1,
  `dibuat_pada` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `kategori_kompetensi_id` (`kategori_kompetensi_id`),
  CONSTRAINT `pertanyaan_ibfk_1` FOREIGN KEY (`kategori_kompetensi_id`) REFERENCES `kategori_kompetensi` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=73 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pertanyaan`
--

LOCK TABLES `pertanyaan` WRITE;
/*!40000 ALTER TABLE `pertanyaan` DISABLE KEYS */;
/*!40000 ALTER TABLE `pertanyaan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profil_pengguna`
--

DROP TABLE IF EXISTS `profil_pengguna`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `profil_pengguna` (
  `pengguna_id` int(11) NOT NULL,
  `nomor_induk` varchar(50) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `telepon` varchar(20) DEFAULT NULL,
  `posisi_pekerjaan` varchar(100) DEFAULT NULL,
  `instansi` varchar(100) DEFAULT NULL,
  `tahun_lulus` year(4) DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`pengguna_id`),
  CONSTRAINT `profil_pengguna_ibfk_1` FOREIGN KEY (`pengguna_id`) REFERENCES `pengguna` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profil_pengguna`
--

LOCK TABLES `profil_pengguna` WRITE;
/*!40000 ALTER TABLE `profil_pengguna` DISABLE KEYS */;
/*!40000 ALTER TABLE `profil_pengguna` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tiket`
--

DROP TABLE IF EXISTS `tiket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tiket` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pengguna_id` int(11) NOT NULL,
  `subjek` varchar(150) NOT NULL,
  `isi` text NOT NULL,
  `status` enum('baru','diproses','selesai') DEFAULT 'baru',
  `balasan_admin` text DEFAULT NULL,
  `dibuat_pada` timestamp NOT NULL DEFAULT current_timestamp(),
  `diperbarui_pada` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `pengguna_id` (`pengguna_id`),
  CONSTRAINT `tiket_ibfk_1` FOREIGN KEY (`pengguna_id`) REFERENCES `pengguna` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tiket`
--

LOCK TABLES `tiket` WRITE;
/*!40000 ALTER TABLE `tiket` DISABLE KEYS */;
/*!40000 ALTER TABLE `tiket` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-04 17:14:48
